<%= if @can_edit do%>
  <a-entity
    id="deck-primary"
    class="deck"
    mixin="deck"
    position="0 2.5 1"
    rotation="0 180 0"
    bind__visible="!play"
  >
  <a-entity position="-4 0 0">
    <%= render_slides(@talk) %>
  </a-entity>
<% end %>

<a-entity id="deck-mirrored" class="deck" mixin="deck" position="0 2.5 -5">
  <a-entity position="-4 0 0">
    <%= render_slides(@talk) %>
  </a-entity>
</a-entity>
