<a-scene
  fetch-talk
  keyboard-slide
  bind__speaker-recorder="record: record; slide: slide"
  bind__speaker-replayer="play: play"
  bind__voice-recorder="record: record"
  bind-toggle__deck-uploader="talk.edit"
  bind__deck-uploader="id: talk.id"
>
  <%= render "_assets.html" %>
  <%= render "_world.html" %>
  <%= render "_controls.html" %>
  <%= render "_deck.html" %>
  <%= render "_speaker.html" %>
  <%= render "_user.html" %>
</a-scene>
